<!DOCTYPE html>
<html>
  <head>
    <title>Test123</title>
    <%= csrf_meta_tags %>
!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
    <%= stylesk_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= java!fdsifdsjifjninfdsfdsf_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%
  <body>
    <%= yield %>


  </body>
</html>
